<div class="container">
  <div class="inner">

    <div>
        <div class="outer">
            <h4>Recently Played</h4>
            <h5 id="fiveRecent" (click)="navigateToAll($event)">SEE ALL</h5>
        </div>
        <div class="recent song">
          <div (click)="play(song)" id="song" *ngFor="let song of recent">
              <img [src]="song.image_url">
              <h4 class="songname">{{song.name}}</h4>
              <h5 class="artistname">{{song.artist_name}}</h5>
          </div>
        </div>
    </div>
    <div>
        <div class="outer">
            <h4>List Of Songs</h4>
            <h5 id="fiveSongs" (click)="navigateToAll($event)">SEE ALL</h5>
        </div>
        <div class="recent song">
          <div (click)="play(song)" id="song" *ngFor="let song of songs">
              <img [src]="song.image_url">
              <h4 class="songname">{{song.name}}</h4>
              <h5 class="artistname">{{song.artist_name}}</h5>
          </div>
        </div>
    </div>
    <div>
        <div class="outer">
            <h4>Playlists</h4>
            <h5 id="playlist" (click)="navigateToAll($event)">SEE ALL</h5>
        </div>
        <div class="recent song">
          <div id="song" *ngFor="let playlist of playlists">
              <img src="https://img.freepik.com/free-vector/elegant-musical-notes-music-chord-background_1017-20759.jpg?size=338&ext=jpg">
              <h4 class="songname">{{playlist.name}}</h4>
              <h5 class="artistname">By charan</h5>
          </div>
        </div>
    </div>
    <div>
        <div class="outer">
            <h4>Recommended For Today</h4>
            <h5 id="recommended" (click)="navigateToAll($event)">SEE ALL</h5>
        </div>
        <div class="recent song">
          <div (click)="play(song)" id="song" *ngFor="let song of recommended">
              <img [src]="song.image_url">
              <h4 class="songname">{{song.name}}</h4>
              <h5 class="artistname">{{song.artist_name}}</h5>
          </div>
        </div>
    </div>
  </div>
  <!-- <div class="static">
  </div> -->
</div>