.container {
    width: 85vw;
    height: 80vh;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.static {
    width:100%;
    background-color: #181818;
    height: 15vh;
}

.inner {
    height: 65vh;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.song {
    height:30vh;
    display: flex;
    justify-content: flex-start;
}

#song:hover {
    background-color: #333333;
}

.inner img {
   height:15vh;
   width:11vw;
}

#song {
    background-color:hsl(0deg 0% 16%);
    width: 15vw;
    padding:0.6rem;
    padding-left:2vw;
    cursor: pointer;
    margin: 1rem;
}

.outer {
    display: flex;
    justify-content: space-between;
}

.songname:hover {
    color:rgb(230, 218, 218)
}

.artistname:hover {
    color:rgb(230, 218, 218)
}

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
    border-radius:6px
}

.outer h5 {
    cursor: pointer;
    margin-right: 1rem;
}

.outer h4 {
    margin-left:1rem
}
/*
.container {
    width: 85vw;
    height: 80vh;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-right:3vw ;
    padding-left: 3.2vw;
}

.static {
    width:100%;
    background-color: #181818;
    height: 15vh;
}

.inner {
    height: 65vh;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.song {
    height:30vh;
    display: flex;
    justify-content: flex-start;
}

#song:hover {
    background-color: #333333;
}

.inner img {
   height:15vh;
   width:11vw;
}

#song {
    background-color:hsl(0deg 0% 16%);
    width: 14vw;
    padding:0.5rem;
    padding-left:1.5vw;
    cursor: pointer;
    margin: 1rem;
}

.outer {
    display: flex;
    justify-content: space-between;
}

.songname:hover {
    color:rgb(230, 218, 218)
}

.artistname:hover {
    color:rgb(230, 218, 218)
}

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
    border-radius:6px
}

.outer h5 {
    cursor: pointer;
    margin-right: 1rem;
}

.outer h4 {
    margin-left:1rem
}*/