.container {
    background-color: #f3b858;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #614923;
    color: white;
    padding: 1rem;
}

.classes {
    display: flex;
    justify-content: center;
}

.classes h4 {
    margin:1rem;
    cursor: pointer;
}

#spotifyImg {
    width:10vw;
    height: 10vh;
    cursor: pointer;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    font-size: 2rem;
    color: rgb(41, 37, 37);
}

button {
    width: 30vw;
    border: none;
    padding: 2rem;
    border-radius: 50px;
    font-size: 2rem;
    outline: none;
    border:1px solid gray;
    cursor: pointer;
    background-color: rgb(245, 226, 226);
}

button:hover {
    background-color: rgb(207, 192, 192);
}