.container {
    background-color: #1e1e1e;
    width:85vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding:1rem;
    color:#b3b3b3;
    padding-right: 1.8vw;
    padding-left: 1.7vw;
}

.recent {
    background-color: rgb(45 119 82);
}




.arrow-icon {
    background-color: #0a0a0a;
    border-radius: 50%;
    text-align: center;
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.arrow-icon:hover {
    background-color: #333131;
}

.arrow-div {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

button {
    background-color: rgb(0 0 0);
    color:#b3b3b3;
    padding: 0.5rem;
    border: none;
    border-radius: 14px;
    margin-right: 1rem;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    outline: none;
}

button:hover {
    background-color: rgb(51, 48, 48);
}

#user {
    display: flex;
    align-items: center;
    background-color: rgb(0 0 0);
    border-radius: 14px;
    padding: 0.4rem;
    cursor: pointer;
    padding-right: 2rem;
    padding-left: 2rem;
}

#name {
    margin: 0;
    margin-left: 0.5rem;
}

#user:hover {
    background-color:rgb(51, 48, 48)
}