.container {
    background-color: rgb(0 0 0);
    width:15vw;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0.1rem;
    height: 90vh;
}

.container h4 {
    cursor: pointer;
}

.container h4:hover {
    color:#d8d0d0;
}

#crossIcon {
    width: 10px;
    height: 10px;
    display: none;
}


.spotify-icon {
    width:120px;
    cursor: pointer;
}

.icon {
    width:25px;
    height: 25px;
    background-color: #fff;
}

.like-icon {
    width: 25px;
    height: 25px;
    padding: 0.2rem;
    background-color:#450af5
}

.playlist {
    height: 45vh;
    overflow:auto;
}

.cross {
    display: flex;
    justify-content: space-between;
}

.cross:hover #crossIcon{
  display: block;
}

.sidebar-div {
    display: flex;
    align-items: center;
}

.sidebar-div h4 {
    margin-left: 1rem;
    margin-top:1rem;
    margin-bottom: 1rem;
}

.home {
   position: relative;
   top:3px
}

hr {
    width: 100%;
}

.install {
    display: flex;
    align-items: center;
    background-color: #282828;
    padding:0.2rem;
    margin: 0;
    border-radius: 4px;
}

.install h4 {
    margin: 0.3rem;
}

.input h4{
    margin:0
}

input {
    width:13vw;
}
.install:hover {
    background-color: rgb(73, 69, 69);
}