.container {
    display: flex;
    position: fixed;
    height: 10vh;
    background-color: hsl(0deg 0% 16%);
    width:100%;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    padding: 1rem;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: gray;
  color:white;
  outline: none;
}

audio {
    outline: none;
    position: fixed;
    left: 43vw;
    bottom: 2.5vh;
}

.bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-div h4 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.bottom-div h4:hover {
  color: rgb(241, 232, 232);
}

.bottom-div img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#speaker-icon {
    margin-left: 0.5rem;
}

.speaker {
    width: 30px;
    height: 30px;
}

button {
    outline: none;
}