<div class="container">
    <app-sidebar></app-sidebar>
    <div  class="body">
       <app-nav></app-nav>
     <router-outlet></router-outlet>
    </div>
  </div>
  <div class="static">
</div>
<app-song></app-song>
<div class="static">
</div>
