/*.container {
    height:66vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding:1rem;
    background-image:linear-gradient(#1e1e1e,#292929) ;
    color: #b3b3b3
}

.allTop {
    display: flex;
    justify-content: flex-start;
    height: 40vh;
    margin-bottom: 2rem;
}

section img+h4 {
    margin-left: 1rem;
}

p {
    width: 100%;
    border-top:1px solid rgb(95, 93, 93);
    cursor: pointer;
}

.allTop h1 {
    align-self: flex-end;
    margin-left: 1rem;
    font-size: 4rem;
    cursor: pointer;
}

.allTop img {
    width: 25vw;
    height: 25vh;
    cursor: pointer;
}

.play {
    padding: 1rem;
    background-color: #1db954;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.allMiddle {
    display: flex;
    align-items: center;
    height: 10vh;
}

.heart {
    margin-right:1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:2rem
}

.middle section {
    display: flex;
}

.bottom img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.song {
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
}

#hash {
    margin-right: 2rem;
}

#time {
    margin-left:2rem
}

.song section {
    display: flex;
    align-items: center;
}

.h4 {
    margin-right: 1rem;
}

h4{
    cursor: pointer;
}

h4:hover {
    color: rgb(219, 203, 203);
}

.time {
    margin-left:1rem
}*/

.container {
    height:66vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding:1rem;
    background-image:linear-gradient(#1e1e1e,#292929) ;
    color: #b3b3b3
}

.allTop {
    display: flex;
    justify-content: flex-start;
    height: 40vh;
    margin-bottom: 2rem;
}

section img+h4 {
    margin-left: 1rem;
}

p {
    width: 100%;
    border-top:1px solid rgb(95, 93, 93);
    cursor: pointer;
}

.allTop h1 {
    align-self: flex-end;
    margin-left: 1rem;
    font-size: 4rem;
    cursor: pointer;
}

.allTop img {
    width: 15vw;
    height: 25vh;
    cursor: pointer;
}

.play {
    padding: 1rem;
    background-color: #1db954;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.allMiddle {
    display: flex;
    align-items: center;
    height: 10vh;
}

.heart {
    margin-right:1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:2rem
}

.middle section {
    display: flex;
}

.bottom img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.song {
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
}

#hash {
    margin-right: 2rem;
}

#time {
    margin-left:2rem
}

.song section {
    display: flex;
    align-items: center;
}

.h4 {
    margin-right: 1rem;
}

h4{
    cursor: pointer;
}

h4:hover {
    color: rgb(219, 203, 203);
}

.time {
    margin-left:1rem
}